<h1>Hi baby</h1>
<div>
    <section>
        <md-content  layout-padding >
            <div   layout-gt-xs="row" layout-align="center">
                <div class="flex-container">

                    <div class="flex-item">
                        <form name="loginform">
                            <div>
                                <md-input-container style="width: 25rem" class="input-container">
                                    <label>Email</label>
                                    <input ng-model="email" type="email" >
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container style="width: 25rem">
                                    <label>Password</label>
                                    <input ng-model="pwd" type="password">
                                </md-input-container></div>
                            <div>
                                <md-button type="submit" class="md-accent md-raised">Submit</md-button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </md-content>


    </section>
</div>