<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoppingMart</title>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>-->
    <meta name="viewport" content="user-scalable=0"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <!-- Services-->
    <script src="./js/main.js"></script>
    <script src="./js/controller/appController.js"></script>

    <base href="/ShoppingMart/" />
</head>

<body>
    <!--<div ng-app="shoppingMart">
        <div ng-controller ="loginController">
            Hello from login page
        </div>
    </div>-->
    <section ng-app="shoppingMart" ng-controller="loginController as vm" ng-cloak md-theme="docs-dark"  >
        <md-content  layout-padding >
            <div   layout-gt-xs="row" layout-align="center">
                <div class="flex-container">

                    <div class="flex-item" >
                        <form name="loginform" novalidate >
                            <div>
                                <md-input-container style="width: 25rem" class="input-container">
                                    <label>Email</label>
                                    <input ng-model="email" type="email" required >
                                    <span ng-show="loginform.email.$error.required">Email Address is required</span>
                                    <span ng-show="loginform.email.$error.email">Invalid Email Address</span>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container style="width: 25rem">
                                    <label>Password</label>
                                    <input ng-model="pwd" type="password" required>
                                    <span ng-show="loginform.pwd.$error.required">Email Address is required</span>
                                </md-input-container></div>
                            <div>
                                <md-button type="submit" ng-click="submit()"  class="md-accent md-raised">Submit</md-button><!-- ng-disabled="loginform.email.$dirty && loginform.email.$invalid ||
loginform.pwd.$dirty && loginform.pwd.$invalid"-->
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </md-content>


    </section>
</body>
</html>